/*
#f46245
#55bcc4
#ed3737
#d8c143
#242942

#17af78
#048c85
#004ac1
*/

body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Anton', sans-serif;
}

li  {
  list-style: none;
}

.top-space{
margin-top: 5%;
}

h1{  
  /*font-family: 'Codystar', cursive; **/
  font-family: 'Fredericka the Great', cursive;
  font-size: 15em;
}
h2{ /* font-family: 'Anton', sans-serif;  */
  font-family: 'Fredericka the Great', cursive;
  text-transform: capitalize;
  font-size: 20em;
}

a{ color: #fff !important;
}
.linkColor{
  color: black;
}
.digital{
  /*font-family: 'Revalia', cursive; */
  /*font-family: 'Offside', cursive; */
  /* font-family: 'VT323', monospace; */
  font-family: 'Maiden Orange', cursive;
  font-size: 6em;
}

.taskTitle{
  font-family: 'VT323', monospace;
  text-transform: lowercase;
  font-size: 4em;
}