/*
#cc33cc
#00cccc
#33cc33
#cccc33
#242942
*/

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

a{  
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
ul{
  text-align: left !important;
  width: 207px;
  margin-left: 50px;
}

li  {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-align: left !important;
  width: 207px;
  margin:auto; 
}

.top-space{
  margin-top: 5%;
  text-align: center !important;
}


h1{  
  font-family: 'VT323', monospace;
  text-transform: lowercase;
  font-size: 4em !important;
}
h2{ 
  font-weight: 300;
  text-transform: capitalize;
  font-size: 20em;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px !important;
}

h4{
  font-size: 1.5em !important;
  margin-top: 40px !important;
}

a{ 
  color: #fff !important;
} 
.logo-front{
  width:50%;
  height: 50%;
}
.linkColor{
  color: black;
}
.digital{
  font-family: 'Maiden Orange', cursive;
  font-size: 3em;
}
.digital2{
  font-family: 'Maiden Orange', cursive;
  font-size: 6em;
  color: #cc33cc;
}
.warning{
  color: #cc33cc;
}
.taskTitle{
  font-family: 'VT323', monospace;
  text-transform: lowercase;
  font-size: 4em;
}

button.nextTaskButton.btn.btn-primary{
  font-size: 2em;
  padding: 10px 30px;
  background-color: #33cc33 !important;
  font-family: 'Roboto', sans-serif;
}

button.btn.btn-primary{
  font-size: 2em;
  padding: 10px 30px;
  background-color: #33cc33 !important;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

button.btn.btn-secondary.btn-lg{
  font-size: 1em !important;
  padding: 10px 30px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

span.badge.badge-secondary{
  font-size: 0.5em !important;
  padding: 15px 30px;
  font-weight: 500 !important;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  background-color: #cc33cc;
}
/* =====  FORM STYLES ===== */
label{
  margin-right: 2px;
}
input{
  margin-right: 7px !important;
}

button{
/*  background-color: #33cc33 !important;
  border-style: solid;
  border-width: 0px;
  padding: 1px 7px 2px; */

}

.addTask{
  background-color: #33cc33 !important;
  border-style: solid;
  border-width: 0px;
  padding: 7px 15px;
  color: #fff;
  margin-top: 10px;
  border-radius: 0.25rem;
}

.editTask{
  color: #0099cc !important;
  border-style: solid;
  border-width: 2px;
  border-color: #0099cc!important; 
  padding: 7px 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 0.25rem;
  margin-right: 10px;
}

.deleteTask{
  color:#cc33cc!important;
  border-style: solid;
  border-width: 2px;
  border-color:#cc33cc!important; 
  padding: 7px 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 0.25rem;
  margin-right: 10px;
}

.alarmTask{
  color:#cccc33 !important;
  border-style: solid;
  border-width: 2px;
  border-color: #cccc33;
  padding: 7px 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 0.25rem;
  margin-right: 10px;
  /*opacity: 0.5;
  filter: alpha(opacity=50);
  */
}